{% extends "base.html" %} {%block title%} Employee List{%endblock%}
 {%block content%} 
 <div class="d-flex justify-content-between mb-3">
    <h2>Wellcome {{request.user.name}}</h2>
    <a class="btn btn-primary" href={%url 'dashboard'%}>Dashboard</a>
 </div>

 <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Position</th>
        {% if user.is_superuser %}
        <th>Actions</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>
    {%if users%}
    {%for employee in users%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.position}}</td>
        {% if user.is_superuser %}
        <td>
            <a href="{%url 'update_user' employee.pk%}" class="btn btn-success btn-sm">Edit</a>
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{employee.pk}}">Delete</button>
        </td>
        {% endif %}

    </tr>
    {%endfor%}{%else%}
    <tr>
    <td colspan="6"class="text-center">No employee found ...</td>
    </tr>
    {%endif%}
    </tbody>  

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delte this Employee?
        </div>
        <div class="modal-footer">
            <form method="POST" id="deleteForm">
                {%csrf_token%}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
            </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function(event){
        const button = event.relatedTarget;
        const employeeId = button.getAttribute('data-id')
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `/users/delete/${employeeId}/`;
    })
  </script>
 </table>

  
 {%endblock%}
