{% extends "base.html" %} {%block title%}Job list{%endblock%}
 {%block content%} 
 <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="mb-0">Welcome {{ request.user.name }}</h2>
    <div>
        {% if user.is_superuser %}
        <a class="btn btn-primary me-2" href="{% url 'create_job' %}">Create Job</a>
        {% endif %}
        <a class="btn btn-primary" href={%url 'dashboard'%}>Dashboard</a>
    </div>
</div>

 <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>job_title</th>
        <th>job_description</th>
        <th>job_post_ratio</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {%if jobs%}
    {%for job in jobs%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{job.job_title}}</td>
        <td>{{job.job_description}}</td>
        <td>{{job.job_post_ratio}}</td>
        <td>
            <a href="{% url 'job_detail' job.id %}" class="btn btn-info btn-sm">View</a>
            {% if user.is_superuser %}
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{job.pk}}">Delete</button>
            {% endif %}

        </td>

    </tr>
    {%endfor%}{%else%}
    <tr>
    <td colspan="6"class="text-center">No job found ...</td>
    </tr>
    {%endif%}
    </tbody>  

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delte this Employee?
        </div>
        <div class="modal-footer">
            <form method="POST" id="deleteForm">
                {%csrf_token%}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
            </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>/
    </div>
  </div>
  <script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function(event){
        const button = event.relatedTarget;
        const employeeId = button.getAttribute('data-id')
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `/jobs/delete/${employeeId}/`;
    })
  </script>
 </table>

  
 {%endblock%}
